   *{

    margin: 0;
    padding: 0;
   }
   
   .container{

        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#E554731A;
        width: 1420px;
        height:700px;
        

    }
.image{
  width:80%;
  height:80%;
  margin-top:63px;
     justify-content: center;
     align-items: center;
    
}
    .container-div{

margin-right: 40px;
margin-top: 60px;


    }

    .heading{

font-size:40px;
font-weight: bolder;
margin-bottom: 10px;

    }

    .para{

color:gray;
margin-bottom: 10px;

    }

    .btn{

        font-size: 1.2rem;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
        background-color: rgb(232, 105, 105);
        color:white;
        border: none;
        text-align: center;
    
    }

    .main-containers{

display: flex;
background-color:#E554730D;
margin-top: 128px;
align-items: center;
justify-content: center;
height: 400px;
width: 100%;
gap: 50px;

    }

    .main-heading{

        text-align: center;
        
    }

    .main-h{

font-size: 30px;
font-weight: bolder;

    }

    .main-p{

        color:#757575;
    }
.card-div{

    margin-top: 100px;
    
}

.card-h{

    text-align: center;

}

.card-heading{

font-size: 30px;

}

.card-img{
margin-left:5px;
padding-left: 30px;
width:18%;
margin-bottom: 90px;

}

#id{

margin-left: 100px;

}

.banner{

background-image: url('Rectangle\ 9.png');
background-position: center;
background-size: cover;
width:80%;
height:350px;
background-repeat: no-repeat;
margin:0 auto;

}

.banner{

    text-align: center;
   
}

.main-button{

    margin-top: 20px;
}

.banner-inp{

font-size: 1rem;
padding:15px;
border-radius: 5px;
border: none;
margin-right:5px;
}

.banner-heading{

    padding-top: 100px;
}

.banner-h{

font-size:40px;
font-weight: 800px;

}

.banner-p{

color:#757575;
}