   *{

    margin: 0;
    padding: 0;
   }
   
   .container{

        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#E554731A;
        width: 1320px;
        height:700px;
        margin-bottom: 80px;
        

    }
.image{
  width:80%;
  height:80%;
  margin-top:63px;
     justify-content: center;
     align-items: center;
    
    
}
    .container-div{

margin-right: 40px;
margin-top: 80px;
margin-bottom: 90px;
margin-left: 60px;


    }

    .heading{

font-size:50px;
font-weight: bolder;
margin-bottom: 10px;

    }

    .para{

color:gray;
margin-bottom: 10px;

    }

    .btn{

        font-size: 1.2rem;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
        background-color: rgb(232, 105, 105);
        color:white;
        border: none;
        text-align: center;
    
    }

    .main-containers{

display: flex;
background-color:#E554730D;
margin-top: 128px;
align-items: center;
justify-content: center;
height: 400px;
width: 1320px;
gap: 90px;

    }

    .main-heading{

        text-align: center;

        
    }

    .main-h{

font-size: 30px;
font-weight: bolder;

    }

    .main-p{

        color:#757575;
    }
.card-div{

    margin-top: 100px;
    
}

.card-h{

    text-align: center;

}

.card-heading{

font-size: 30px;
font-family: 'Lobster', cursive;

}

.card-img{

padding-left: 30px;
width:18%;
margin-bottom: 90px;

}

#id{

margin-left: 100px;

}

.banner{

background-image: url('Rectangle\ 9.png');
background-position: center;
background-size: cover;
width:80%;
height:350px;
background-repeat: no-repeat;
margin:0 auto;

}

.banner{

    text-align: center;
   
}

.main-button{

    margin-top: 20px;
}

.banner-inp{

font-size: 1rem;
padding:15px;
border-radius: 5px;
border: none;
margin-right:5px;
}

.banner-heading{

    padding-top: 100px;
}

.banner-h{

font-size:40px;
font-weight: 800px;

}

.banner-p{

color:#757575;
}

.spam{
    

    color:#E55473;

}
    .footer-container{

background-color: black;
height:200px;
width:1320px;
margin-top: 100px;
text-align: center;
margin-bottom: 30px;
padding-top:140px;

    }

    .fotter-h{
color:white;
margin: 0 auto;

    }

    .fotter-p{

        color:#d2cece;
        font-size: 15px;
        

    }
.fotter-para{

    color:#a39f9f;
    font-size: 10px;
}

.first-card{
width: 80%;
background-color:#2727270D;
height: 300px;
margin-top: 60px;
margin-left: 130px;
}

.first-card-heading{

display: flex;
align-items: center;
justify-content: space-around;
padding-top: 30px;
gap:90px;
padding-top:100px;

}

.image-card{

    align-items: center;
  
}

.div-new-heading{

display:flex;
margin-left: 250px;
gap:40px;
margin-bottom: 60px;


}

.div-heading{

    text-align: center;
    margin-bottom: 50px;
}

.radix-div{

     border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);1x;
    padding-top:30px;
    
}

.index-div{

    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top:35px;
}

.container-index{

    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top:30px;
}

.paragrape{

    text-align: center;
    font-weight: 800;
    margin-top: 12px;
}

.section-h{

    display: flex;
    align-items: center;
justify-content: center;
margin-top: 80px;
gap:70px;

}


.section-div{

    border:2px solid rgb(251, 247, 247);
    border-radius: 15px;
    box-shadow: 10px 12px 8px darkgrey;
    
}


.section-btn{

    margin-left: 85px;
    margin-top: 5px;
    padding: 5px;
    background-color: coral;
    border-radius: 5px;
    color:white;
    border: none;
    margin-bottom: 10px;
    
    }

    .section-div:hover{

        box-shadow: 12px 10px 8px gray;
        
        }
        .section-f{
        
        text-align: center;
        margin-top: 5px;
        
        }
        
        .section-para{
        
        text-align: center;
        
        }